page {
  background-color: #fff;
}
.my-moreand {
  width: 30px;
  height: 100%;
  display: flex;
  align-items: center;
  z-index: 99;
}

.dian-box {
  display: flex;
  justify-content: space-around;
  background: #fff;
  margin-top: 20px;
}

.dian-name {
  padding: 0 20px;
  margin-top: 10px;
}